// color set
$white: #fff;
$black: #000;
$blackberry: #293685;
$blueberry: #0058A2;
$eggplant: #923C8C;
$tomato: #D8507D;
$carrot: #FF7E66;
$sunkist: #FFBA59;
$turmeric: #F9F871;
$broccoli: #00AEAE;
$spinach: #66C7AA;

// text
$grey100: #ABA9BB;
$grey200: #777586;
$grey300: #474555;

// background
$bg-gray: #f9f9f9;
$bg-dark: #1f2532;
$bg-breadcrumb: #cfcfcf;

