/*=================================================================
  Services section
==================================================================*/
.services .service-block {
  padding: 30px 20px;
}

@media (max-width: 480px) {
  .services .service-block {
    padding: 15px;
  }
}

.services .service-block .service-icon {
  margin-bottom: 15px;
}

.services .service-block i {
  font-size: 80px;
  color: $blueberry;
  background: linear-gradient(100deg, $blueberry, $blackberry);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services .service-block h3 {
  color: #333;
  font-size: 22px;
}

.services .service-block p {
  color: #777;
}

/*=================================================================
  Services section 2
==================================================================*/
@media (max-width: 480px) {
  .service-2 .p-0 {
    padding: 0 15px !important;
  }
}

@media (max-width: 768px) {
  .service-2 .p-0 {
    padding: 0 15px !important;
  }
}

@media (max-width: 400px) {
  .service-2 .p-0 {
    padding: 0 15px !important;
  }
}

.service-2 .service-item {
  background: #fff;
  border: 1px solid #eee;
  padding: 50px 20px;
  margin-right: -1px;
  margin-bottom: -1px;
  transition: all 0.3s ease 0s;
}

.service-2 .service-item .count {
  font-size: 80px;
  position: absolute;
  top: 0;
  left: 20px;
  color: #f3f1f1;
  font-weight: 700;
}

.service-2 .service-item i {
  font-size: 30px;
  display: inline-block;
  border-radius: 30px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  height: 55px;
  line-height: 55px;
  margin-bottom: 20px;
  width: 55px;
  transition: all 0.3s ease 0s;
}

.service-list .block {
  background: $blueberry;
  color: #fff;
  padding: 30px;
}

.service-list .block i {
  font-size: 30px;
}

.service-list .block h3 {
  font-size: 22px;
  margin: 10px 0;
}

.service-list .block ul li {
  margin-bottom: 6px;
  color: #f9f9f9;
}

.client-service-list li{
  font-size: 20px;
}
.client-service-list li i{
  margin-right: 10px;
  color: $blueberry;
}